


body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

header {
    background-color: #FFCC00;
    height: 500px;
}

header .col-md-6 ul{
    list-style: none;
}
header .col-md-6 ul li{
    display: inline;
    font-size: 18px;
    margin: 30px;
    padding-top: 20px;
    color: white;
}

header .col-md-6 button{
    background-color: orange;
    border: 1px solid orange;
    height: 45px;
    width: 100px;
    margin-left: 20px;
    margin-top: 40px;
    color: white
    
}
header  h1, h4{
    text-align: center;
    color: white;
    font-size: 50px;
}
header h4{
    font-size: 20px;
    
}

/*     section    */

section {
    background: #ECE3E3;
}


.blanco{
    background: white;
}

.tres{
  height: 300px;
  width: 300px;
  background: #DCD7D7;
  margin: 0 auto;
  text-align: center;
  position: relative;

}
.caja{
  
    padding: 20px;
    margin-top: 70px;
}
.caja h2{
    text-align: justify;
    color: gray;
    padding: 10px;
}
.caja p{
    position: relative;
    left: 15px;
    padding: 0 0 25px 0px;
    color: gray;
    font-size: 18px;
  
    
}
.cajas{
    padding: 20px;
    margin-top: 30px;
}

.cajas h2{
   padding: 10px;
    color: gray;
    text-align: justify;

    
}
.cajas p{
    position: relative;
    left:15px;
    text-align:justify;
    color: grey;
    font-size: 18px;
    
}

.tres p{
     position: absolute;
    top: 50%;
    left: 50%;
    margin: -17px 0 0 -53px;
    font-size: 24px;

}

.caja button{
     background-color: orange;
    border: 1px solid orange;
    margin-bottom: 15px;
    margin-left: 250px;
    color: white

}
.cajas button{
     background-color: orange;
    border: 1px solid orange;
    margin-left: 250px;
    color: white

}

    

/*     footer   */


footer{
	background-color: black;
	margin-top: 12px;
    padding-left: 30px;
}

footer p{
	color: white;
	font-size: 20px;
	padding: 20px 0;
}







